* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#i9uj{
  color:#ffffff;
  background-color:#ffffff;
}
#nav-1{
  background-color:#0f0f0f;
}
#nav-1-2{
  padding:30px 0px 5px 0px;
}
#iv0nh{
  color:#ffffff;
}
#ie2c1{
  color:#ffffff;
}
#ity2k{
  height:208px;
  background-color:#050505;
}
#iozxd{
  font-weight:100;
  font-family:Arial, Helvetica, 黑体;
  font-size:20px;
  text-align:center;
  opacity:0.6;
}
#i9xkx{
  padding:0px 0% 0px 0px;
}
#i0xne{
  border:2px solid #000000;
  border-radius:5px;
  width:100px;
  height:40px;
  font-weight:600;
  font-family:Arial, Helvetica, 黑体;
  padding:0px 0% 0px 0px;
  margin:0px 0px 0px 82%;
}
#ipkhj{
  width:100px;
  border:2px solid;
  border-radius:5px;
  height:40px;
  font-family:Arial, Helvetica, 黑体;
  font-weight:500;
  margin:0px 0px 0px 4%;
  color:#ffffff;
  background-color:#050505;
}
#idlet{
  font-size:32px;
  font-weight:700;
  font-family:Arial, Helvetica, 黑体;
}
#il0bp{
  background-color:#9a9090;
  height:1px;
  opacity:0.3;
  padding:0.1px 10px 1px 10px;
  margin:-24px 0px 0px 0px;
}
#i74rv{
  text-align:left;
  margin:-2px 0px 0px 0px;
  padding:20px 0px 0px 0px;
}
.c5657{
  color:#ffffff;
  text-align:center;
  margin:0px 0px 0px 0px;
}
.c9887{
  color:#000000;
}
.c22521{
  color:#ffffff;
  width:162px;
  font-family:Arial, Helvetica, 黑体;
  font-weight:900;
  height:42px;
  margin:-29px 0px -51px 50px;
}
.c2324{
  padding:10px;
  color:#000000;
  width:160px;
  margin:0 0 0 70px;
  font-size:35px;
}
.htmlpage-row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.htmlpage-cell{
  width:8%;
  display:table-cell;
  height:75px;
}
.header-inner{
  background-color:#0f0f0f;
}
.active{
  margin:0px 8px 0px 2px;
}
#nav-1 .header-inner{
  width:100%;
}
#nav-1 .header-inner::after{
  content:" ";
  height:0px;
  display:block;
  visibility:hidden;
  clear:both;
}
#nav-1 h1{
  float:left;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  font-weight:900;
  font-size:28px;
  margin-bottom:0px;
  text-transform:uppercase;
  font-family:Roboto, Arial, sans-serif;
}
#nav-1 > a{
  display:inline-block;
  width:138px;
  height:22px;
}
#nav-1 img{
  height:22px;
  width:auto;
}
#nav-1 nav{
  float:right;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}
#nav-1 nav ul{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
#nav-1 nav ul li{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  margin-top:0px;
  margin-right:6px;
  margin-bottom:0px;
  margin-left:0px;
  list-style-position:initial;
  list-style-image:initial;
  list-style-type:none;
  display:inline-block;
  zoom:1;
}
#nav-1 nav ul li a{
  color:rgba(0, 0, 0, 0.5);
  font-size:16px;
  padding-top:6px;
  padding-right:14px;
  padding-bottom:6px;
  padding-left:14px;
  position:relative;
  transition-behavior:normal;
  transition-duration:0.2s;
  transition-timing-function:ease;
  transition-delay:0s;
  transition-property:all;
}
#nav-1 nav ul li a:hover{
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
#nav-1 nav ul li a.active, #nav-1 nav ul li a:focus{
  outline-color:initial;
  outline-style:none;
  outline-width:initial;
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
  color:white;
  background-image:initial;
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:rgb(31, 181, 123);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
.active{
  background-color:#ffffff;
  color:#0a0a0a;
}
.header-inner{
  background-color:#ffffff;
}

#nav-1-2{
  padding-top:30px;
  padding-right:0px;
  padding-bottom:30px;
  padding-left:0px;
  width:100%;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(0, 0, 0, 0.1);
  position:relative;
}
.c10528{
  color:#000000;
  background-color:#ffffff;
  font-weight:600;
  font-family:Arial, Helvetica,黑体;
  border-radius:5px;
  border:2px solid;
  padding:10px 10px 10px 10px;
  width:45px;
  font-size:16px;
  text-align:center;
  margin:10px 0px 0px 80px;
}
.c10529{
  border:2px solid #000000;
  width:50px;
  height:50px;
  border-radius:5px;
  color:#000000;
  font-size:16px;
  font-family:Arial, Helvetica, 黑体;
  font-weight:600;
  padding:10px 20px 10px 20px;
  margin:10px 0px 0px 80px;
}
@media (max-width: 768px){
  .htmlpage-cell{
    width:100%;
    display:block;
  }
}
