* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#nav-1{
  font-family:Arial, Helvetica, 黑体;
  font-size:31px;
  margin:0px 0px 0px 0px;
  padding:30px 0px 10px 0px;
}
#ip9ik{
  background-color:#1fb57b;
  border-radius:5px;
  color:#ffffff;
}
#i18o4{
  height:156px;
  en:1;
  width:66%;
}
#ir49v{
  height:1px;
  background-color:#c1c1c1;
  opacity:0.5;
}
#icf4r{
  margin:0px 6px 0px 0px;
  height:110px;
  en:1;
  padding:0px 61px 0px 0px;
  width:50%;
}
#iwxzx{
  width:45%;
  padding:10px 10px 10px 57px;
  margin:0px 0px 0px 879px;
}
*{
  box-sizing:border-box;
}
body{
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Roboto, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "Microsoft Jhenghei", sans-serif;
}
.logo path{
  pointer-events:none;
  fill:none;
  stroke-linecap:round;
  stroke-width:7;
  stroke:rgb(255, 255, 255);
}
.wechat-group img{
  max-width:220px;
  height:auto;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  width:100%;
}
.welcome-img img{
  width:100%;
}
.htmlpage-row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.htmlpage-cell{
  width:8%;
  display:table-cell;
  height:75px;
}
.c5683{
  text-align:center;
  opacity:0.6;
}
.c5657{
  text-align:left;
  font-weight:800;
  padding:0px -1px 0px 0px;
  margin:46px 0px 0px 85px;
  font-size:42px;
}
#nav-1{
  padding-top:30px;
  padding-right:0px;
  padding-bottom:30px;
  padding-left:0px;
  width:100%;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(0, 0, 0, 0.1);
  position:relative;
}
#nav-1 .header-inner{
  width:100%;
}
#nav-1 .header-inner::after{
  content:" ";
  height:0px;
  display:block;
  visibility:hidden;
  clear:both;
}
#nav-1 h1{
  float:left;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  font-weight:900;
  font-size:28px;
  margin-bottom:0px;
  text-transform:uppercase;
  font-family:Roboto, Arial, sans-serif;
}
#nav-1 > a{
  display:inline-block;
  width:138px;
  height:22px;
}
#nav-1 img{
  height:22px;
  width:auto;
}
#nav-1 nav{
  float:right;
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
}
#nav-1 nav ul{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  margin-left:0px;
}
#nav-1 nav ul li{
  padding-top:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-left:0px;
  margin-top:0px;
  margin-right:6px;
  margin-bottom:0px;
  margin-left:0px;
  list-style-position:initial;
  list-style-image:initial;
  list-style-type:none;
  display:inline-block;
  zoom:1;
}
#nav-1 nav ul li a{
  color:rgba(0, 0, 0, 0.5);
  font-size:16px;
  padding-top:6px;
  padding-right:14px;
  padding-bottom:6px;
  padding-left:14px;
  position:relative;
  transition-behavior:normal;
  transition-duration:0.2s;
  transition-timing-function:ease;
  transition-delay:0s;
  transition-property:all;
}
#nav-1 nav ul li a:hover{
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
}
#nav-1 nav ul li a.active, #nav-1 nav ul li a:focus{
  outline-color:initial;
  outline-style:none;
  outline-width:initial;
  text-decoration-line:none;
  text-decoration-thickness:initial;
  text-decoration-style:initial;
  text-decoration-color:initial;
  color:white;
  background-image:initial;
  background-position-x:initial;
  background-position-y:initial;
  background-size:initial;
  background-repeat:initial;
  background-attachment:initial;
  background-origin:initial;
  background-clip:initial;
  background-color:rgb(31, 181, 123);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
}
.header-inner{
  background-color:#ffffff;
}
.c9887{
  text-align:center;
  opacity:0.5;
}
.c8254{
  width:300.2px;
  en:1;
  text-decoration:none;
  border:0px solid;
  vertical-align:baseline;
}
.c10064{
  margin:0px 1309px -45px 91px;
  font-size:25px;
  padding:21px 0px 2px -33px;
  font-weight:900;
}
.c13078{
  padding:10px 10px 10px 10px;
  border:2px solid #000000;
  border-radius:7px;
  margin:8px 214px 0px 80px;
  font-size:15px;
  font-family:Arial, Helvetica, 黑体;
  font-weight:600;
}
.c13991{
  padding:10px;
  text-align:left;
  margin:0 0 0 80px;
}
.c14175{
  padding:10px;
  font-weight:900;
  font-size:42px;
  margin:8px 0px 0px 80px;
}
.c17171{
  padding:10px;
  font-family:Arial, Helvetica, 黑体;
  font-weight:900;
  font-size:42px;
  margin:0px 0px 0px 70px;
}
.c16406{
  width:30%;
}
.c17665{
  width:100%;
}
.c16414{
  margin:-3px -5px 6px 0px;
  padding:-7px -43px 24px -15px;
  height:19px;
  width:50%;
}
.c19441{
  opacity:0.5;
  font-weight:200;
}
.c20489{
  color:black;
  float:right;
  overflow:auto;
  width:197px;
  height:197px;
  margin:-50px 232px 0px 0px;
}
@media (max-width: 768px){
  .htmlpage-cell{
    width:100%;
    display:block;
  }
}
@media (max-width: 480px){
  .c5657{
    padding:15px 9px 0px 0px;
    font-size:25px;
  }
  .c5683{
    font-size:12px;
    text-align:center;
  }
  .c9887{
    height:161px;
    en:1;
  }
  .c10064{
    padding:10px -13px 10px 10px;
    font-size:20px;
    font-weight:900;
    margin:0px 199px 0px 0px;
  }
}
